<h1>All Kittens</h1>
<ul>
  <% @kittens.each do |kitten| %>
    <li><%= link_to kitten.name, kitten_path(kitten) %></li>
    <%= link_to 'Delete kitten', kitten_path(kitten), data: { turbo_method: :delete } %>
  <% end %>
</ul>